.capturaDeTela20240228100 {
  width: 486px;
  height: 496px;
  background-image: url(/captura-de-tela-20240228-100645removebgpreview-1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
