.ellipseChild {
  width: 19.375rem;
  height: 27.375rem;
  position: relative;
  border-radius: 40px;
  background: radial-gradient(50% 50%at 50% 50%, #3b6e49, #193521);
  display: none;
}
.frameChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: rgba(14, 14, 14, 0.32);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.maskGroupIcon {
  position: absolute;
  width: calc(100% - 28.1px);
  top: 0.9rem;
  right: 0.906rem;
  left: 0.85rem;
  max-width: 100%;
  overflow: hidden;
  height: 11.931rem;
  object-fit: cover;
  z-index: 3;
}
.ellipseParent {
  height: 13.688rem;
  flex: 1;
  position: relative;
}
.ellipseInner,
.frameWrapper {
  display: flex;
  flex-direction: row;
}
.frameWrapper {
  flex: 1;
  align-items: center;
  justify-content: center;
}
.ellipseInner {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.625rem 0 1.313rem;
}
.pedroElias {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 2;
}
.pedroEliasWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1.5rem;
}
.textIcon {
  height: 0.063rem;
  width: 9.625rem;
  position: relative;
  z-index: 2;
}
.rectangle {
  height: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 0.688rem;
  box-sizing: border-box;
}
.nuncViverraAliquet,
.vitaeSapienPellentesque {
  margin-block-start: 0;
  margin-block-end: 6px;
}
.nuncViverraAliquet {
  white-space: pre-wrap;
}
.liberoJustoLaoreet {
  margin: 0;
}
.vitaeSapienPellentesqueContainer {
  position: relative;
  z-index: 2;
}
.arrow {
  align-self: stretch;
  align-items: center;
  gap: 1.375rem;
  font-size: 0.75rem;
}
.arrow,
.ellipse,
.frameParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  align-items: flex-end;
  gap: 1.063rem;
}
.ellipse {
  flex: 0.9398;
  border-radius: 40px;
  background: radial-gradient(50% 50%at 50% 50%, #3b6e49, #193521);
  align-items: center;
  padding: 1.438rem 2.188rem 3.125rem 1.563rem;
  box-sizing: border-box;
  gap: 1.313rem;
  min-width: 17.813rem;
  max-width: 19.375rem;
  z-index: 1;
  text-align: left;
  font-size: 1.5rem;
  color: #fff;
  font-family: Montserrat;
}
@media screen and (max-width: 450px) {
  .pedroElias {
    font-size: 1.188rem;
  }
  .ellipse {
    padding-top: 1.25rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    flex: 1;
  }
}
