.logicGateNOR {
  align-self: stretch;
  width: 0.375rem;
  max-height: 100%;
  min-height: 12.25rem;
}
.logicGateNOR,
.socializeComA {
  position: relative;
}
.signalSplitter {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1.375rem 0 0.938rem;
}
.linkedinIcon,
.twitterIcon,
.youtubeIcon {
  min-height: 2rem;
}
.instagramIcon,
.linkedinIcon,
.twitterIcon,
.youtubeIcon {
  width: 2rem;
  height: 2rem;
  position: relative;
}
.instagramWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.375rem 0 0;
}
.pinterestIcon {
  height: 2rem;
  width: 2rem;
  position: relative;
  min-height: 2rem;
}
.twitterParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.frameChild {
  height: 3rem;
  width: 13.375rem;
  position: relative;
  border-radius: 40px;
  background: linear-gradient(90deg, #66c681, #274d31);
  display: none;
}
.buildYourWorld {
  position: relative;
  font-size: 0.75rem;
  font-family: Montserrat;
  color: #fff;
  text-align: left;
  z-index: 1;
}
.rectangleParent {
  cursor: pointer;
  border: 0;
  padding: 1rem 2.25rem 1.063rem;
  background-color: transparent;
  flex: 1;
  border-radius: 40px;
  background: linear-gradient(90deg, #66c681, #274d31);
  flex-direction: row;
  white-space: nowrap;
}
.logicGateNXOR,
.logicGateNXORInner,
.logicGateXNOR,
.rectangleParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logicGateNXORInner {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 1.063rem;
}
.logicGateNXOR,
.logicGateXNOR {
  flex-direction: column;
}
.logicGateNXOR {
  align-self: stretch;
  gap: 2.25rem;
}
.logicGateXNOR {
  width: 15.063rem;
  padding: 0.594rem 0.625rem 0 0;
  box-sizing: border-box;
}
.logicGateNOR1 {
  align-self: stretch;
  width: 0.375rem;
  position: relative;
  max-height: 100%;
  min-height: 12.25rem;
}
.logicGateNAND,
.logicGateXOR {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.logicGateNAND {
  width: 27.063rem;
  justify-content: space-between;
  gap: 1.25rem;
}
.logicGateXOR {
  align-self: stretch;
  justify-content: center;
  padding: 0 1.25rem 0 1.375rem;
  box-sizing: border-box;
}
.logicGateNOTChild {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.logicGateNOT {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 4.969rem;
  max-width: 100%;
}
.listaC {
  position: relative;
  letter-spacing: 0.13em;
  line-height: 1.125rem;
}
.listaCByRianyMelloPedrWrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 1.563rem 0 1.25rem;
  font-size: 0.875rem;
}
.footerSection,
.listaCByRianyMelloPedrWrapper,
.logicGateAND {
  display: flex;
  align-items: flex-start;
}
.footerSection {
  width: 79.313rem;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
  flex-shrink: 0;
  debug_commit: 2554057;
  z-index: 2;
}
.logicGateAND {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 1.25rem;
  box-sizing: border-box;
  max-width: 100%;
  margin-top: -1.312rem;
  text-align: left;
  font-size: 1rem;
  color: #fff;
  font-family: Montserrat;
}
@media screen and (max-width: 925px) {
  .logicGateNOT {
    gap: 2.5rem 4.969rem;
  }
  .footerSection {
    gap: 1.5rem 3rem;
  }
}
@media screen and (max-width: 450px) {
  .logicGateNAND,
  .twitterParent {
    flex-wrap: wrap;
  }
  .logicGateNOT {
    gap: 1.25rem 4.969rem;
  }
}
