.maskGroupFrame {
  height: 6.438rem;
  width: 6.375rem;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 52px);
  right: -0.812rem;
  overflow: hidden;
  flex-shrink: 0;
}
.listaC {
  margin: 0;
  height: 2.438rem;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.groupVector {
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupVector,
.membros,
.sobre {
  position: relative;
}
.membrosWrapper {
  flex: 0.8696;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.563rem 0 0;
}
.propostas {
  position: relative;
}
.propostasWrapper {
  flex: 0.8767;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.563rem 0 0;
}
.contactos {
  flex: 1;
  position: relative;
}
.outlineArrowSmallDownInsta {
  width: 25.688rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.938rem 0 0;
  box-sizing: border-box;
  gap: 3.188rem;
  max-width: 100%;
  font-size: 0.75rem;
  font-family: Montserrat;
}
.frameChild {
  height: 3rem;
  width: 9.625rem;
  position: relative;
  border-radius: 40px;
  border: 2px solid #fff;
  box-sizing: border-box;
  display: none;
}
.sujestes {
  position: relative;
  font-size: 0.75rem;
  font-family: Montserrat;
  color: #fff;
  text-align: left;
  z-index: 2;
}
.rectangleParent {
  cursor: pointer;
  border: 2px solid #fff;
  padding: 1.063rem 2.625rem 1rem 2.5rem;
  background-color: transparent;
  width: 9.625rem;
  border-radius: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.rectangleParent:hover {
  background-color: rgba(230, 230, 230, 0.09);
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
}
.logoFrame,
.textFrame {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.textFrame {
  width: 80.5rem;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
}
.logoFrame {
  width: 86.125rem;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 1.25rem 2.063rem;
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: 2rem;
  color: #fff;
  font-family: "Secular One";
}
@media screen and (max-width: 750px) {
  .outlineArrowSmallDownInsta {
    display: none;
  }
  .textFrame {
    width: 54.813rem;
  }
}
@media screen and (max-width: 450px) {
  .outlineArrowSmallDownInsta {
    gap: 3.188rem 1.563rem;
  }
}
