.p {
  margin: 0;
}
.mainIcon {
  height: 68px;
  width: 18px;
  position: relative;
  letter-spacing: 0.38px;
  line-height: 34px;
  display: inline-block;
}
.icon,
.iconWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.icon {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 4px 10px 0 11px;
  box-sizing: border-box;
}
.iconWrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 20px;
}
.message,
.title {
  align-self: stretch;
  position: relative;
  line-height: 22px;
}
.message {
  height: 60px;
  font-size: 15px;
  letter-spacing: -0.23px;
  line-height: 20px;
  display: inline-block;
  flex-shrink: 0;
}
.content,
.content1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content1 {
  gap: 5px;
  font-size: 17px;
  color: #fff;
  font-family: Montserrat;
}
.content {
  gap: 12px;
}
.aaa,
.m {
  position: relative;
  letter-spacing: -0.23px;
  line-height: 20px;
  display: inline-block;
  min-width: 7px;
}
.m {
  font-family: Montserrat;
  min-width: 34px;
}
.button,
.content2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.content2 {
  justify-content: flex-start;
  gap: 8px;
}
.button {
  flex: 1;
  border-radius: 8px;
  background-color: #2e613c;
  justify-content: center;
  padding: 12px 20px;
}
.cancel,
.icon1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.23px;
  line-height: 20px;
}
.icon1 {
  width: 17px;
  font-weight: 600;
  display: none;
}
.cancel {
  flex: 1;
  font-family: Abel;
}
.content3 {
  position: absolute;
  top: 12px;
  left: calc(50% - 16.5px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
}
.button1 {
  height: 44px;
  width: 260px;
  position: relative;
  border-radius: 8px;
  background-color: rgba(78, 88, 118, 0.12);
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  color: #4e5876;
  font-family: Montserrat;
}
.buttongroup {
  align-self: stretch;
  flex-direction: row;
  gap: 10px;
  text-align: left;
  font-size: 15px;
  color: rgba(240, 242, 182, 0.95);
  font-family: Acme;
}
.buttongroup,
.meta3,
.modal1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.modal1 {
  flex: 1;
  border-radius: 12px;
  background-color: #5bb073;
  flex-direction: column;
  padding: 35px 20px 20px;
  gap: 35px;
  text-align: center;
  font-size: 28px;
  color: #3b6e49;
  font-family: ABeeZee;
}
.meta3 {
  width: 300px;
  flex-direction: row;
  letter-spacing: normal;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
