/* sobrenos.module.css */

.vector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem; /* Adjust padding for spacing */
  font-size: 20px;
}

.sobreParent {
  margin-bottom: 2rem; /* Add spacing between title and text */
  margin-top: 2rem;
}

.bemVindoAssociaoContainer {
  max-width: 600px; /* Adjust maximum width for responsiveness */
  position: relative;
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 1rem; /* Add padding for spacing */
  text-align: center; /* Center align text */
}

.maskGroupIcon {
  max-width: 60%; /* Ensure image stays within container */
  height: 60%; /* Maintain aspect ratio */
}

.line {
  display: flex;
  justify-content: center;
  padding: 6rem; /* Adjust padding for spacing */
}

.rectangleParent {
  position: relative;
  text-align: center; /* Center align button */
}

.rectangleIcon {
  max-width: 100%; /* Ensure image stays within container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Ensure it behaves as a block element */
  margin: 0 auto; /* Center the image horizontally */
  margin-bottom: 20px;
}

.path {
  padding: 1rem 2rem; /* Adjust button padding */
  background-color: #274d31; /* Adjust button background color */
  border-radius: 40px; /* Adjust button border radius */
  border: none; /* Remove button border */
  color: #fff; /* Button text color */
  font-size: 1rem; /* Button text size */
  cursor: pointer; /* Add cursor pointer */
}

.letsGetIn {
  margin: 0; /* Remove margin */
  font-weight: bold; /* Make button text bold */
  text-align: center; /* Center align button text */
}
