.containersobre{
    padding: 30px;
    display: flex;
    flex-direction: row;
}

.sobrenos {
    display: flex;
    margin-bottom: 2rem;
    gap:15px;
}

.sobre {
    font-size: 30px;
}

.nos{
    font-size: 30px;
}